<style>
  @import "{{base}}frame/neoan3/design.css";
  .prominent{
    top: 20%;
    left: 9%;
  }
</style>
<section class="position-absolute w-80p bg-black prominent b-rounded-2 b-1 b-primary p-5" >
  <h2>Privacy & GDPR</h2>
  <p>As easy and transparent as it gets!</p>
  <ul>
    <li>Tracking: We use <a href="https://analytics.withgoogle.com/">Google Analytics</a> without Remarketing, Advertising Reporting Features or Advanced Ads Personalization. We just want to know your region and what you click on.</li>
    <li>
      Data & Privacy: <br>We use
      <ul>
        <li>our own database to store entered information</li>
        <li><a href="https://www.hcaptcha.com/">hCaptcha</a> to prevent bots from filling our forms</li>
        <li><a href="https://sendgrid.com/">Sendgrid</a> to deliver emails</li>
      </ul>
    </li>
    <li>
      Cookies? Believe it or not, but fulfilling GDPR means every website <strong>must</strong> use cookies, even if it's only to decide when to display this consent form.
    </li>
  </ul>
  <p>
    You can read more about our privacy efforts <a href="{{base}}tac">here</a>.
  </p>
  <div class="grid">
    <div class="place-x-end">
      <button id="accept-gdpr-button" class="button text-primary font-lg">Accept</button>
    </div>
  </div>
</section>