$base: '';

$navbar-background-color: rgba(0,0,0,.6);
$navbar-item-hover-background-color: tranparent;
$navbar-item-color: rgb(255, 39, 186);
$navbar-item-hover-color: rgb(255, 0, 166);
.navbar{
  font-size: 18px;
}
$title-color: rgb(255, 39, 186);
$subtitle-color: $title-color;

$link-hover: $title-color;

$tabs-link-color: $title-color;
$tabs-link-hover-border-bottom-color: #3273dc;
$tabs-link-hover-color: #3273dc;

@import "../../node_modules/bulma/bulma";
@import "../../component/home/home";

.tutoring-page{
  background-color: #000000;
  min-height: 100vh;
  padding-top: 20vh;
}