<section class="main section ">
    <div class="container ">
        <div id="login-form"></div>
        <div class="columns">
            <div class="column">

                <nav class="breadcrumb has-arrow-separator" aria-label="breadcrumbs">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Category</a></li>
                        <li><a href="#">this article</a></li>
                    </ul>
                </nav>
                <article>
                    <h1 class="title has-text-primary">Article</h1>
                    <h1 class="subtitle ">Caption</h1>
                    <div class="content">

                        <p >
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu arcu vel magna efficitur sollicitudin. Proin tempus, enim nec hendrerit interdum, ex urna vehicula velit, vel fermentum ligula urna vitae ante. Donec eleifend nulla id malesuada sollicitudin. Integer ullamcorper, urna a auctor rutrum, ante nisl fermentum sem, aliquet auctor urna lectus non urna. Nam commodo fermentum diam et dictum. Nunc id tempus erat, vitae semper leo. Vivamus dapibus ornare varius. Ut ornare maximus sem ac ultricies. Donec nec felis non elit finibus consectetur vel et enim. Praesent viverra est tellus, at fringilla felis elementum quis. Integer nunc neque, scelerisque in ipsum id, aliquet ultrices nisi. Nulla aliquam dignissim libero non sodales. Sed id velit nisi. Pellentesque dapibus elit in mauris pulvinar sodales. Donec tincidunt tempor turpis quis vulputate. Quisque bibendum at dui quis consectetur.
                        </p><p>
                            Quisque eu ornare metus. Sed imperdiet pulvinar urna sed imperdiet. Maecenas eget nulla fringilla sem laoreet bibendum. Sed ipsum massa, pharetra at varius sit amet, placerat sed enim. Mauris eu nisl urna. Sed vel posuere velit. Vestibulum tempus enim vel sem mollis, nec mattis diam convallis. Nulla massa arcu, commodo vitae semper eget, porta et elit. Ut ultricies accumsan urna sed auctor. Vivamus a convallis mi, sed sollicitudin nulla. Duis vehicula felis erat, id finibus diam viverra a.
                        </p>
                        <div class="notification is-primary">
                            <h2 class="title">Why you should read on...</h2>
                            <hp class="subtitle">and on.</hp>
                        </div>
                        <figure class="image is-pulled-right">
                            <img  src="https://bulma.io/images/placeholders/128x128.png">
                        </figure>

                        <p>

                            Praesent enim ex, viverra elementum commodo quis, laoreet vitae arcu. Sed placerat porta sollicitudin. Nullam eu arcu ornare neque malesuada venenatis. Donec laoreet justo eget pulvinar varius. Nulla elementum ex vel sapien malesuada porttitor. Aenean et diam placerat, accumsan urna vel, faucibus ipsum. Sed sed urna eu nulla tempus efficitur vel eu nibh. Nullam eu rutrum nulla. Suspendisse felis lacus, tempus non molestie sit amet, interdum eu lorem.

                            Duis dictum rutrum justo, et tincidunt massa vestibulum in. Nam vitae feugiat ante. Mauris laoreet sapien nec euismod tristique. Praesent tincidunt molestie urna nec mollis. Phasellus nec nisi blandit, egestas eros eget, aliquet ligula. Curabitur non risus eleifend sem rutrum ornare sed sed risus. Curabitur eros ante, cursus ut mattis nec, dictum et est. Pellentesque ex justo, euismod vel ante lobortis, venenatis auctor elit. Nullam scelerisque lacus a neque iaculis viverra. Maecenas quis leo justo. Aenean volutpat malesuada nunc, at auctor ante hendrerit at.
                        </p>


                    </div>

                </article>
            </div>
            <div class="column is-one-quarter">

                <div class="">
                    <div class="media ">
                        <figure class="media-left">
                            <p class="image is-64x64">
                                <img src="https://bulma.io/images/placeholders/128x128.png">
                            </p>
                        </figure>
                        <div class="media-content">
                            <p>
                                <strong>Author name</strong>
                                <small>@handle</small>
                            </p>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                            <i class="far fa-star"></i>
                            <button class="button is-small is-outlined">more...</button>
                        </div>
                    </div>
                </div>
                <div class="border-bottom has-margin-top-3">
                    <span class="title is-5 has-text-primary">Keywords</span>

                </div>
                <div class="has-margin-top-3">
                    <span class="tag is-light">PHP</span>
                    <span class="tag is-light">JavaScript</span>
                </div>
                <div class="border-bottom has-margin-top-3">
                    <span class="title is-5 has-text-primary">On topic</span>
                </div>

                <div >
                    <div class="card has-margin-top-3">
                        <div class="card-content">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </div>
                        <div class="card-footer">
                            <div class="card-footer-item">
                                <small>@author-handle</small>
                            </div>
                            <div class="card-footer-item">
                                <a href="#">read</a>
                            </div>
                        </div>
                    </div>
                    <div class="card has-margin-top-3">
                        <div class="card-content">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </div>
                        <div class="card-footer">
                            <div class="card-footer-item">
                                <small>@author-handle</small>
                            </div>
                            <div class="card-footer-item">
                                <a href="#">read</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

