<section class="section blog-page">
    <h1 class="title">Blog</h1>
    <h2 class="subtitle">I write on <a href="https://blua.blue" target="_blank">blua.blue</a>, <a target="_blank" href="https://dev.to/sroehrl">dev.to</a> and
        <a href="https://groups.hyvor.com/@neoan" target="_blank">groups.hyvor.com</a></h2>
    <div n-for="articles as i => article" class="card">


        <div class="card-content">

            <p class="title">
                {{article.name}}
            </p>
            <p class="subtitle">
                {{article.teaser}}
            </p>

        </div>
        <footer class="card-footer">
            <p class="card-footer-item">
              <span>
                Read on <a href="https://blua.blue/article/{{article.slug}}/" target="_blank">blua.blue</a>
              </span>
            </p>
        </footer>
    </div>
</section>