<nav class="navbar has-background-light is-spaced">
    <div class="navbar-brand">
        <div>
            <h2 class="title">&lt; read /></h2>
        </div>

    </div>
    <div class="navbar-menu">
        <div class="navbar-item" style="flex:1">
            <div class="field " style="flex:1">
                <div class="control is-flex" style="flex:1">
                    <label class=" is-inline" for="search">&lt;read article =</label>
                    <input id="search" type="text" class="input is-inline is-rounded is-small" placeholder="search..." style="flex:1">
                    <span> /></span>
                </div>
            </div>
        </div>
    </div>

</nav>

