<div class="position-absolute w-100p bg-black-90 b-b-1 b-primary raise-2-accent" style="top:0">
    <nav class="container p-y-3" >
        <div class="lg:d-flex font-md text-primary">
            <div class="f-1 d-flex">
                <div class="f-1">
                    <a class="navbar-item" href="{{base}}">neoan.us</a>
                </div>
                <a role="button" class="navbar-burger cursor-pointer" aria-label="menu" aria-expanded="false" data-target="main-menu">
                    <span class="icon-menu"></span>
                </a>
            </div>
            <div class="navbar-menu" id="main-menu">
                <div class="navbar-end">
                    <a href="{{base}}blog/" class="button">Blog</a>
                    <a href="{{base}}portfolio/" class="button">Open Source Projects</a>
                    <a href="{{base}}tutoring/" class="button">Tutoring</a>
<!--                    <a href="{{base}}podcast/" class="button" style="display: none">Program Society - podcast</a>-->
                    <a href="https://neoan3.rocks" target="_blank" class="button">NEOAN3 DOCUMENTATION</a>
                </div>
            </div>
        </div>
    </nav>
</div>