<div id="header">
    <nav class="navbar has-background-primary is-spaced" >
        <div class="navbar-brand">
            <div>
                <h2 class="title">&lt; read /></h2>
            </div>

        </div>
        <div class="navbar-menu">
            <div class="navbar-item" style="flex:1">
                <div class="field " style="flex:1">
                    <div class="control is-flex" style="flex:1">
                        <label class=" is-inline" for="search">&lt;read article =</label>
                        <input id="search" type="text" class="input is-inline is-rounded is-small" v-model="text" placeholder="search..." style="flex:1">
                        <span> /></span>
                    </div>
                </div>
            </div>
        </div>

    </nav>
    <section class="section">
        <div class="columns is-multiline">
            <div class=" column is-one-quarter" v-for="n in 3">
                <article class="message is-info">
                    <div class="message-header">
                        <p>Category</p>
                    </div>
                    <div class="message-body">
                        <div class="title">Title</div>
                        <div>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta nec nulla.
                        </div>

                    </div>

                </article>
            </div>


        </div>

    </section>
</div>


