<section class="main section" id="registration">
    <div class="container">
        <div class="columns">
            <div class="column">
                <h1 class="title">New to blua.blue?</h1>
                <p>
                    Don't have your credit card handy? That's fine.<br>
                    blua.blue is <strong>free</strong>

                </p>
                <p>
                    Since you won't read the terms & conditions, let's state the most important things:
                </p>
                <div class="content">
                    <ol>
                        <li>You are responsible for what you write/post</li>
                        <li>We are not liable for - well - basically anything</li>
                        <li>We do use cookies (surprise?)</li>
                        <li>We do not share user-data & save your credentials securely</li>
                        <li>If your daddy has to call and tell us you are not at least 13 years of age, we'll delete your account in shame.</li>
                    </ol>
                </div>

            </div>
            <div class="column">
                <div class="card">
                    <div class="card-content">
                        <register-form></register-form>
                    </div>

                </div>

            </div>
        </div>

    </div>

</section>
