<section class="main section" id="registration">
    <div class="container">
        <div class="columns">
            <div class="column">
                <h1 class="title">New to neoan.us?</h1>
                <p>
                    Welcome & enjoy

                </p>
            </div>
            <div class="column">
                <div class="card">
                    <div class="card-content">
                        <register-form></register-form>
                    </div>

                </div>

            </div>
        </div>

    </div>
</section>
