<section class="section main-teaser">
    <div class="container" x-data="component()">
        <h1 class="font-xl text-primary p-l-3">Open-Source Projects</h1>
        <div class="grid-6-6 md:grid-4-4-4">
            <template x-for="project in data.projects">
                <div class="card">
                    <figure class="image m-0">
                        <img class="w-100p" x-bind:src="project.img" alt="Placeholder image" />
                    </figure>
                    <div class="content">
                        <h3 x-text="project.name"></h3>
                        <p x-text="project.desc"></p>
                        <div class="grid">
                            <a class="button font-md place-x-center p-x-5" x-bind:href="project.link" target="_blank">visit</a>
                        </div>
                    </div>

                </div>

            </template>
        </div>
    </div>

</section>
<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.3.5/dist/alpine.min.js" defer></script>
<script>
    function component(){
        return {
            data:{
                projects:[
                    {
                        name:'fileAway',
                        desc:'Simple file-storage database (PHP)',
                        img:'https://repository-images.githubusercontent.com/282278283/8f0d9a00-d598-11ea-84d5-bb17e071cd83',
                        link:'https://github.com/sroehrl/fileAway'
                    },{
                        name:'Gaudiamus CSS',
                        desc:'CSS Framework builder (SCSS)',
                        img:'https://repository-images.githubusercontent.com/283393446/997c6380-d599-11ea-8c37-b491f15db26e',
                        link:'https://gaudiamus-css.github.io'
                    },{
                        name:'neoan3',
                        desc:'PHP all purpose framework',
                        img:'https://repository-images.githubusercontent.com/324675108/b9215c00-47c6-11eb-9ffe-6423299df845',
                        link:'https://neoan3.rocks'
                    },{
                        name:'fillr',
                        desc:'Dynamic placeholder text generator',
                        img:'https://repository-images.githubusercontent.com/210253976/3b9e4a80-d59e-11ea-9f4f-6947beeb82e7',
                        link:'https://github.com/sroehrl/fillr'
                    },{
                        name:'blua.blue',
                        desc:'Hybrid CMS (PHP/VueJS)',
                        img:'https://repository-images.githubusercontent.com/192207243/75bc1c00-d59f-11ea-8309-bf0fc2b8e056',
                        link:'https://blua.blue'
                    },{
                        name:'vast-n3',
                        desc:'Hybrid App generator project',
                        img:'https://repository-images.githubusercontent.com/235644515/a488c100-d5a4-11ea-8159-bb0d91283910',
                        link:'https://github.com/vast-n3'
                    },{
                        name:'API "Scaffolder"',
                        desc:'Quickly create, test, use a REST API',
                        img:'https://repository-images.githubusercontent.com/282548360/b6b82e80-d5a7-11ea-9b3b-3300cb8abc65',
                        link:'https://github.com/sroehrl/neoan3-demo-api'
                    },{
                        name:'blua.blue node SDK',
                        desc:'NodeJS SDK for blua.blue',
                        img:'https://repository-images.githubusercontent.com/192207243/75bc1c00-d59f-11ea-8309-bf0fc2b8e056',
                        link:'https://github.com/blua-blue/blua-blue-node-sdk'
                    },{
                        name:'neoan3-hcaptcha',
                        desc:'PHP-helper for hCaptcha®',
                        img:'https://repository-images.githubusercontent.com/212421676/50390d80-d5b3-11ea-99c6-4ad81c4d2f76',
                        link:'https://github.com/blua-blue/blua-blue-node-sdk'
                    },{
                        name:'neoan3-template',
                        desc:'PHP template engine',
                        img:'https://repository-images.githubusercontent.com/237791293/5d142c00-d5c8-11ea-8f1b-77e610f1ed39',
                        link:'https://github.com/sroehrl/neoan3-template'
                    },{
                        name:'neoan3-db',
                        desc:'trusted PHP MySQL wrapper',
                        img:'https://repository-images.githubusercontent.com/161001769/1c1e1680-d5cc-11ea-92bf-37f62d6e2b34',
                        link:'https://github.com/sroehrl/neoan3-db'
                    },{
                        name:'ResourceMeJs',
                        desc:'Coding game',
                        img:'https://repository-images.githubusercontent.com/363704683/9ba14a80-ac1d-11eb-8e66-d8047400a6b0',
                        link:'https://github.com/sroehrl/theGame'
                    },{
                        name:'Procedural Planet Generator',
                        desc:'Exports spritesheets for game-dev',
                        img:'https://repository-images.githubusercontent.com/367681053/90d2a800-b583-11eb-8a76-97fbb5388021',
                        link:'https://github.com/sroehrl/planet-generator'
                    },{
                        name:'GLASS gaudiamus (S)CSS template',
                        desc:'Playing with the modern glassmorphism design',
                        img:'https://repository-images.githubusercontent.com/371199366/34996a80-bffe-11eb-970d-d8ba5c35cdf2',
                        link:'https://gaudiamus-css.github.io/glass/'
                    },
                ]
            }
        }
    }
</script>