<section class="section main-teaser">
    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="card limited-card has-background-primary">
                    <div class="card-content">
                        <h3 class="title">Where does my code run?</h3>
                        <div class="logo-links">
                            <a href="https://www.pfizer.com/" target="_blank">
                                <img src="{{base}}asset/pfizer.png" alt="Pfizer">
                            </a>
                            <a href="https://eagleproductivity.com" target="_blank">
                                <img src="{{base}}asset/eagle.png" alt="Eagle Productivity" >
                            </a>
                            <a href="https://mcdonalds.com" target="_blank">
                                <img src="{{base}}asset/mcd.png" alt="McDonald's" >
                            </a>
                            <a href="https://bms.com" target="_blank">
                                <img src="{{base}}asset/bms.svg" alt="Bristol-Myers Squibb">
                            </a>
                            <a href="https://www.delo-adhesives.com" target="_blank">
                                <img src="{{base}}asset/delo.svg" alt="Delo adhesives">
                            </a>
                            <a href="https://akceatx.com" target="_blank" >
                                <img src="{{base}}asset/logo_akcea.png" alt="Akcea Therapeutics">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card limited-card has-background-dark" style="overflow: hidden">
                    <div class="video-container">
                        <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/videoseries?list=PL5JRD-ivYK3E3Jt2eEgTIB37_lvsTzjJE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="columns">

            <div class="column">
                <div class="card limited-card has-background-dark has-text-primary">
                    <div class="card-content">
                        <h3 class="subtitle">Live GitHub activity (including {{gitHubCount}} owned repos)</h3>
                        <ul>
                            <li n-for="gitHub as activity">
                                <div class="columns">
                                    <div class="column">Repo: <a href="https://github.com/{{activity.repo.name}}" target="_blank">{{activity.repo.name}}</a></div>
                                    <div class="column">{{activity.created}}</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card limited-card has-background-warning">
                    <div class="card-content">
                        <form id="contact-form">
                            <div class="field">
                                <label for="email" class="label">Your email</label>
                                <div class="control">
                                    <input type="email" class="input" name="email" id="email" required>
                                </div>
                            </div>
                            <div class="field">
                                <label for="name" class="label">Your name</label>
                                <div class="control">
                                    <input type="text" class="input" name="name" id="name">
                                </div>
                            </div>
                            <div class="field">
                                <label for="msg" class="label">Your message</label>
                                <div class="control">
                                    <textarea name="message" id="msg" class="textarea" required></textarea>
                                </div>
                            </div>
                            <div class="h-captcha"  data-sitekey="d64972ea-2f6f-41ae-9315-4022424707db"></div>
                            <div class="control">
                                <button class="button is-link" type="submit">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <h1 class="title">When asked to provide one single statement about my work...</h1>
        <div class="card reveal has-background-primary" style="margin-top: 12px;">
            <div class="card-content">
                <div class="media">
                    <div class="media-left">
                        <figure class="image is-128x128">
                            <img class="is-rounded" src="{{base}}asset/bobby.png" alt="bobby">
                        </figure>
                    </div>
                    <div class="media-content">
                        <h3 class="title">Bobby</h3>
                        <p class="subtitle">Peer</p>
                        <p class="is-size-3">"His years of experience may make him an incredible resource for good development, however it's his intellect and logical thinking that makes him a staunch defender of good design."</p>
                    </div>
                </div>

            </div>
        </div>
        <div class="card reveal has-background-primary" style="margin-top: 12px;">
            <div class="card-content">
                <div class="media">
                    <div class="media-left">
                        <figure class="image is-128x128">
                            <img class="is-rounded" src="{{base}}asset/wade.png" alt="Wade">
                        </figure>
                    </div>
                    <div class="media-content">
                        <h3 class="title">Wade</h3>
                        <p class="subtitle">Peer</p>
                        <p class="is-size-3">"Very systematic and professional."</p>
                    </div>
                </div>

            </div>
        </div>
        <div class="card reveal has-background-primary" style="margin-top: 12px;">
            <div class="card-content">
                <div class="media">
                    <div class="media-left">
                        <figure class="image is-128x128">
                            <img class="is-rounded" src="{{base}}asset/jazmin.jfif" alt="Jazmin">
                        </figure>
                    </div>
                    <div class="media-content">
                        <h3 class="title">Jazmin</h3>
                        <p class="subtitle">Manager</p>
                        <p class="is-size-3">"Called himself a genius. I was never able to prove him wrong."</p>
                    </div>
                </div>

            </div>
        </div>
        <div class="card reveal has-background-primary" style="margin-top: 12px;">
            <div class="card-content">
                <div class="media">
                    <div class="media-left">
                        <figure class="image is-128x128">
                            <img class="is-rounded" src="{{base}}asset/ingrid.jfif" alt="Ingrid">
                        </figure>
                    </div>
                    <div class="media-content">
                        <h3 class="title">Ingrid</h3>
                        <p class="subtitle">Customer</p>
                        <p class="is-size-3">"Saved us about 400k / year through automation. Thank you!"</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card reveal has-background-primary" style="margin-top: 12px;">
            <div class="card-content">
                <div class="media">
                    <div class="media-left">
                        <figure class="image is-128x128">
                            <img class="is-rounded" src="{{base}}asset/tom.jfif" alt="Tom">
                        </figure>
                    </div>
                    <div class="media-content">
                        <h3 class="title">Tom</h3>
                        <p class="subtitle">Peer</p>
                        <p class="is-size-3">"I have never seen such accuracy and speed before."</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card reveal has-background-primary" style="margin-top: 12px;">
            <div class="card-content">
                <div class="media">
                    <div class="media-left">
                        <figure class="image is-128x128">
                            <img class="is-rounded" src="{{base}}asset/sarah.jfif" alt="Sarah">
                        </figure>
                    </div>
                    <div class="media-content">
                        <h3 class="title">Sarah</h3>
                        <p class="subtitle">Peer</p>
                        <p class="is-size-3">"Has taught me more in 6 months than 4 years of school could."</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card reveal has-background-primary" style="margin-top: 12px;">
            <div class="card-content">
                <div class="media">
                    <div class="media-left">
                        <figure class="image is-128x128">
                            <img class="is-rounded" src="{{base}}asset/yumiko.jfif" alt="Yumiko">
                        </figure>
                    </div>
                    <div class="media-content">
                        <h3 class="title">Yumiko</h3>
                        <p class="subtitle">Stakeholder</p>
                        <p class="is-size-3">"Helped me make bold decisions which led to success."</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card reveal has-background-primary" style="margin-top: 12px;">
            <div class="card-content">
                <div class="media">
                    <div class="media-left">
                        <figure class="image is-128x128">
                            <img class="is-rounded" src="{{base}}asset/harald.jfif" alt="Harald">
                        </figure>
                    </div>
                    <div class="media-content">
                        <h3 class="title">Harald</h3>
                        <p class="subtitle">Employer</p>
                        <p class="is-size-3">"Yes, yes, yes. Would take him back in a heartbeat."</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
