<section class="main-teaser">
    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="card limited-card has-background-primary">
                    <div class="card-content">
                        <h3 class="title">Where does my code run?</h3>
                        <div class="logo-links">
                            <a href="https://www.pfizer.com/" target="_blank">
                                <img src="{{base}}asset/pfizer.png" alt="Pfizer">
                            </a>
                            <a href="https://eagleproductivity.com" target="_blank">
                                <img src="{{base}}asset/eagle.png" alt="Eagle Productivity" >
                            </a>
                            <a href="https://mcdonalds.com" target="_blank">
                                <img src="{{base}}asset/mcd.png" alt="McDonald's" >
                            </a>
                            <a href="https://bms.com" target="_blank">
                                <img src="{{base}}asset/bms.svg" alt="Bristol-Myers Squibb">
                            </a>
                            <a href="https://www.delo-adhesives.com" target="_blank">
                                <img src="{{base}}asset/delo.svg" alt="Delo adhesives">
                            </a>
                            <a href="hhttps://akceatx.com" target="_blank" >
                                <img src="{{base}}asset/logo_akcea.png" alt="Akcea Therapeutics">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card limited-card has-background-dark" style="overflow: hidden">
                    <div class="video-container">
                        <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/videoseries?list=PL5JRD-ivYK3E3Jt2eEgTIB37_lvsTzjJE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="columns">

            <div class="column">
                <div class="card limited-card has-background-dark has-text-primary">
                    <div class="card-content">
                        <h3 class="subtitle">Live GitHub activity (from {{gitHubCount}} public repos)</h3>
                        <ul>
                            <li n-for="gitHub as activity">
                                <div class="columns">
                                    <div class="column">Repo: <a href="https://github.com/{{activity.repo.name}}" target="_blank">{{activity.repo.name}}</a></div>
                                    <div class="column">{{activity.created}}</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card limited-card has-background-warning">
                    <div class="card-content">
                        <form id="contact-form">
                            <div class="field">
                                <label for="email" class="label">Your email</label>
                                <div class="control">
                                    <input type="email" class="input" name="email" id="email" required>
                                </div>
                            </div>
                            <div class="field">
                                <label for="name" class="label">Your name</label>
                                <div class="control">
                                    <input type="text" class="input" name="name" id="name">
                                </div>
                            </div>
                            <div class="field">
                                <label for="msg" class="label">Your message</label>
                                <div class="control">
                                    <textarea name="message" id="msg" class="textarea" required></textarea>
                                </div>
                            </div>
                            <div class="h-captcha"  data-sitekey="d64972ea-2f6f-41ae-9315-4022424707db"></div>
                            <div class="control">
                                <button class="button is-link" type="submit">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
