<section class="section main-teaser">
    <h1 class="title">Program Society</h1>
    <h2 class="subtitle">The podcast</h2>
    <div class="columns">
        <div class="column">
            <h3>Episodes</h3>
            <iframe src="https://anchor.fm/stefan-roehrl/embed" height="102px" width="400px" frameborder="0" scrolling="no"></iframe>
        </div>
        <div class="column card">
            <div class="card-content">
                <h3 class="subtitle">Get in touch</h3>
                <p>Have something to say or add? I'd love to get you on the show:</p>
                <form id="contact-form">
                    <div class="field">
                        <label for="email" class="label">Your email</label>
                        <div class="control">
                            <input type="email" class="input" name="email" id="email" required>
                        </div>
                    </div>
                    <div class="field">
                        <label for="name" class="label">Your name</label>
                        <div class="control">
                            <input type="text" class="input" name="name" id="name">
                        </div>
                    </div>
                    <div class="field">
                        <label for="msg" class="label">Your message</label>
                        <div class="control">
                            <textarea name="message" id="msg" class="textarea" required></textarea>
                        </div>
                    </div>
                    <div class="h-captcha"  data-sitekey="d64972ea-2f6f-41ae-9315-4022424707db"></div>
                    <div class="control">
                        <button class="button is-link" type="submit">Submit</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</section>