<section class="main section">
    <form v-on:submit.prevent="create">
        <div class="container" id="posting">
            <div class="columns">
                <div class="column">
                    <div class="field">
                        <div class="control">
                            <label for="name" class="label">Title</label>
                            <input type="text" id="name" class="input" required v-model="name">
                        </div>

                    </div>
                    <div class="field">
                        <div class="control">
                            <textarea id="teaser" class="textarea" placeholder="max 255 character" required v-model="name"></textarea>
                        </div>

                    </div>
                    <textarea id="new-post-editor"></textarea>
                </div>
                <div class="column is-one-third">
                    <label for="category" class="label">Category</label>
                    <div class="select">

                        <select id="category" required v-model="category">
                            <option v-for="category in categories" v-bind:value="category.name">{{category.name}}</option>
                        </select>
                    </div>
                    <div class="field">
                        <label for="keywords" class="label">Keywords</label>
                        <input type="text" class="input" id="keywords" v-model="keywords" placeholder="separate by comma">
                    </div>
                    <div class="field">
                        <label class="checkbox">
                            <input type="checkbox" v-model="public">
                            Appear in search & make public
                        </label>
                    </div>
                    <article class="message is-primary">
                        <div class="message-body">
                            This article is currently:
                            <strong v-if="isDraft">drafted</strong>
                            <strong v-else>published</strong>
                        </div>
                    </article>
                    <div>
                        <button type="button" v-on:click="saveDraft" class="button is-info">Save</button>
                        <button class="button is-primary">Save & publish</button>
                    </div>
                </div>

            </div>

        </div>


    </form>

</section>
